.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5ms;
}

.container{
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding-top: 50px;
}
