.App {
  width: 100vw;
  height: 100vh;
  background-image: url('../../public/images/bg-opt.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  margin: 0px auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 50px;
}
